* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    display: none;
}

:root {
    --bg-foodColor: rgb(236, 71, 71);
    --bg-primary-color:#0c0c0c;
    --bg-fill-color: rgb(162, 238, 162);
    --text-primary-color: #f0f0f0;
    --border-primary-color: #333333;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, sans-serif;
}

main {
    height: 100vh;       
    width: 100vw;        
}

section {
    height: 100%;        
    width: 100%;
    padding: 0;         
}

.infos {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.info {
    padding: 5px 10px;
    border: 1px solid var(--border-primary-color);
    border-radius: 6px;
}

.board {
    height: calc(100% - 60px);  
    width: 100%;
    border: 1px solid var(--border-primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    overflow: hidden;           
}

.block {
    border: 1px solid var(--border-primary-color);
    border-radius: 10px;
}

.fill {
    background-color: var(--bg-fill-color);
}

.food {
    background-color: var(--bg-foodColor);
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: #0c0c0c33;
}

.modal .start-game,
.modal .game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal .game-over {
    display: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}
